<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilos em Linha - Objeto </title>

</head>

<body>

    <div id="styles">

        <input type="text" placeholder="Tamanho da fonte" v-model='fontSizeProp'>
        <h2 :style='{fontSize: fontSizeProp + "px"}'>Lady Maria</h2>

        <hr>

        <h2>Digite o valor dsa cores abaixo</h2>

        <input type="text" placeholder="Vermelho" v-model='styleRed'>
        <input type="text" placeholder="Verde" v-model='styleGreen'>
        <input type="text" placeholder="Azul" v-model='styleBlue'>

        <div :style="styleRgb">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Dolores aperiam adipisci exercitationem dolor quos officia?
            Incidunt laudantium dolores quidem inventore tempore culpa, animi amet
            consequuntur in maiores laborum magni eius.</div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>


    <script>



        let app = new Vue({
            el: '#styles',
            data: {
                fontSizeProp: 20,
                styleRed: 255,
                styleGreen: 105,
                styleBlue: 80

            },
            computed: {

                styleRgb() {

                    return {
                        color: `rgb(${this.styleRed}, ${this.styleGreen}, ${this.styleBlue}) `
                    }
                }

            }

        })


    </script>
</body>

</html>